
.app {
    display: inline-flex;
    width: 100%;
    flex-direction: column;
}

#logo {
    width: 100%;
    height: 140px;
    background-color: darkgreen;
}

.divisao {
  display: flex;
    height: 500px;
}

#desafio {
    width: 50%;
    background-color: darkmagenta;
}
 
#solucao {
   width: 50%;
    background-color: darkorange;
}

@media (max-width: 600px) {
    .app {
        width: 100%;
        height: 100%;
    }

}